[submodule "dotmutt"]
	path = dotmutt
	url = git@github.com:sysbot/dotmutt
[submodule "dotssh"]
	path = dotssh
	url = git@github.com:sysbot/dotssh.git
[submodule "dotpassword-store"]
	path = dotpassword-store
	url = git@github.com:sysbot/secrets.git
